body {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.react-grid-layout {
}

.layoutJSON {
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
}

.columns {
  -moz-columns: 120px;
  -webkit-columns: 120px;
  columns: 120px;
}

.react-grid-item {
  background-color: #f7f7f7;
  box-sizing: border-box;
}

.App .ReactCodeMirror {
  height: 100%;
}

.App .CodeMirror {
  background: #1d1714 !important;
  height: 100%;
}

.CodeMirror-gutters {
  background: #1d1714 !important;
}

.react-grid-item:not(.react-grid-placeholder) {
  overflow: scroll;
  background-color: #f7f7f7;
  border: 5px solid #d8d8d8;
  box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.react-grid-item.resizing {
  opacity: 0.9;
}

.react-grid-item .text {
  font-size: 24px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 24px;
}

.react-grid-item .minMax {
  font-size: 12px;
}

.react-grid-item .add {
  cursor: pointer;
}

.react-grid-dragHandleExample {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.App .react-console-container {
  height: 100%;
  background: transparent;
}

.BuildLogs {
  padding: 10px;
  background: #1d1714 !important;
  font-family: monospace;
}

.command {
  color: RGBA(41, 171, 226, 1.00);
  margin-top: 3px;
  margin-bottom: 3px;
}

.command:before {
  color: #eee;
  content: "$ ";
}

.compile {
  color: rgba(255, 245, 194, 1);
}

.stderr {
  color: #aaa !important;
  opacity: 0.7;
}

.stdout {
  font-size: 1.2em;
  padding-left: 6px;
  margin: 3px 0;
  color: white !important;
}

.run {
  color: rgba(66, 187, 82, 1);
}
